#Container #Body .DocumentReferenceList {
    width: 80%;
}
#Container #Body .DocumentReferenceList > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#Container #Body .DocumentReferenceList > ul > li{
    border-style:outset;
    margin: 10;
    
}
#Container #Body .DocumentReferenceList .theme .name {
    font-size: 24px;
    font-family: 標楷體;
}
#Container #Body .DocumentReferenceList .theme .foot {
    border-bottom-style: solid;
    margin: 10px;
}

#Container #Body .DocumentReferenceList .dataList > li {
    cursor: pointer;
    text-decoration: dashed;
    margin: 5px;
}
#Container #Body .DocumentReferenceList .dataList > li:hover {
    text-decoration: underline;
    color: blue;
}