body {margin: 0;padding: 0;display: flex;flex-direction: column;background-color: darkgray;height: 100vh;}

#Head, #Foot {flex: 0 0 50px;display: flex;flex-direction: row;background-color: black;color: white;justify-content: center;}
#Head > div {flex:1}
#Head .head-center{text-align: center;}
#Head .head-right{text-align: right;}
#Head .head-right button {height: 100%;}

#Container {display: flex;flex: 1 0 auto;min-height: 500px;}

#Left, #Right {flex: 0 0 10%;background-color: wheat;}

#Body {display:flex;flex-direction: column;flex: 1 0 auto;background-color: white;justify-content: right;align-items: center;}

#Foot {line-height: 50px;}