#Body .logo{font-family: "museo-slab";font-size:20px;text-align: center;padding: 20px 20px 0;margin:0;}
#Body .login-form{flex:0 0 300px;background-color: #dfe6e9;height: 400px;text-align: center;margin-top: 50px;padding: 20px;}
#Body .login-form div{margin: 10px;}
#Body .login-form input[type="text"],input[type="password"]{height: 25px;}
#Body .login-form .tool button{width: 100px;}