#Body .title {
    flex: 0 0 auto;
}

#Body .courseList { 
    flex: 0 0 auto;
}
#Body .courseList ul {}
#Body .courseList li {
    margin: 10px;
    font-size: 30px;
}
#Body .courseList li:hover {
    cursor: pointer;
}