<!DOCTYPE html public>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/portal.css">
    <link rel="stylesheet" href="./css/layout.css">
    <title>Portal</title>
</head>

<body>
    <div id="Head">
        <div class="head-left"></div>
        <div class="head-center"></div>
        <div class="head-right">
            <button class="logout">登出</button>
        </div>
    </div>
    <div id="Container">
        <div id="Left"></div>
        <div id="Body">
            <div class="title">
                <h1>修課清單</h1>
            </div>
            <div class="courseList">
                <ul>
                    <li v-for="list in courseList" @click="clickList($event)" v-bind:class="list.id">
                        {{ list.name }}
                    </li>
                </ul>
            </div>
        </div>
        <div id="Right"></div>
    </div>
    <div id="Foot">@2020</div>
    <script src="./js/config.js"></script>
    <script src="./js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./vue/portal.js"></script>
</body>

</html>