<!DOCTYPE html public>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/layout.css">
    <title>Login</title>
</head>

<body>
    <div id="Head"></div>
    <div id="Container">
        <div id="Left"></div>
        <div id="Body">
            <div class="login-form">
                <div class="logo">登入</div>
                <div class="id">帳號: <input type="text" placeholder="請輸入帳號" v-model="username" /></div>
                <div class="password">密碼: <input type="password" placeholder="請輸入密碼" v-model="password" /></div>
                <div class="tool">
                    <button @click="login()">登入</button>
                </div>
                <div class="message">{{ message }}</div>
            </div>
        </div>
        <div id="Right"></div>
    </div>
    <div id="Foot">@2020</div>
    <script src="../js/config.js"></script>
    <script src="../js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="../vue/login.js"></script>
</body>

</html>